<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Incredible advances are being made in image processing techniques, tools, and sampling modalities which, together with an increased accessibility to modern imaging equipment, has made image data ubiquitous across many fields, with scales ranging from microscopy to radio astronomy.</p>

<p>ImageXD aims to:

  <ul>
    <li>Foster a cross-disciplinary community of image processing experts from academia, research, and industry.</li>
    <li>Develop a shared understanding of each other’s use of image processing data, algorithms, and software.</li>
    <li>Help us learn from one another, through tutorials, and collaborative work sessions, about available tools and methods, and the applicability of these to various discipline-specific problems.</li>
  </ul>
</p>

<p>Our annual conference is our main avenue for achieving these aims.

<p>You may contact the organizers at <a href="mailto:imageacrossdomains@gmail.com">imageacrossdomains@gmail.com</a>.</p>
