.tagline {
    padding-top: 1em;
}

.content ul {
    font-size: 1.6em;
    line-height: 1.6em;
}

.content li {
    padding-bottom: 0.5em;
    list-style-type: circle;
    margin-left: 1em;
}

.organizer-item {
    font-size: 0.3em;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.organizer-affiliation {
    font-size: 0.8em;
    font-style: italic;
}

.organizer-list {
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer {
    padding-top: 5em;
}

.day-description {
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.schedule-tbl {
    margin-bottom: 3em;
}

.event-item-date {
    font-weight: bold;
}

.sponsors-list {
    padding-top: 1em;
}

.during {
    padding: 19px;
    margin: 0 -20px 0;
    border: 2px solid #e7e7e7;
    background: #eff;
    border-radius: 4px;
    margin-bottom: 1em;
}

.during a {
    color: #078;
    font-weight: bold;
}
