.tagline {
    padding-top: 1em;
}

.content ul {
    font-size: 1.6em;
    line-height: 1.6em;
}

.content li {
    padding-bottom: 0.5em;
    list-style-type: circle;
    margin-left: 1em;
}

.organizer-item {
    font-size: 0.3em;
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.organizer-affiliation {
    font-size: 0.8em;
    font-style: italic;
}

.footer {
    padding-top: 5em;
}

.day-description {
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.schedule-tbl {
    margin-bottom: 3em;
}
